<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About</title>

    <%- include('modules/linksHead') %>
    <link rel="stylesheet" href="stylesheets/Index.css" />
  </head>

  <body>
    <%- include('modules/header.ejs') %>
    <main>
      <div class="container-xxl">
        <h2 class="text-center py-5 fw-bold">About Us</h2>
        <div>
          <p class="text-center fst-italic">
            Looking for a space that offers both entertainment and social
            interaction; We present to you TheFunCorner. A place where people
            sharing the same interests, express their passion for interactive
            online games. You will find, among others, memory games, board
            games, group games and individual games. Everything is designed so
            that the player feels comfortable and can connect with other people
            who share similar interests in terms of gaming and fun.
          </p>
        </div>
        <div class="d-flex justify-content-center py-5">
          <img src="/images/players/bg1.jpg" />
        </div>
      </div>
    </main>

    <%- include("modules/footer") %>
  </body>
</html>
