
/* Index */
body {
padding-top: 80px;
background: linear-gradient(160deg, #231232 0%, #212c57 30%, #6868cc 100% );
color: #f5edede6;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.section-1 {
  background-image: url(/images/players/pie2.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit:cover;
  margin: 0 auto;
 
  
} 


h1 {
  line-height: 1.2;
  font-weight: 800;
  font-size: 24px, 40px;
  text-shadow: 0 2px 25px #0b0e2166;
}

.join {
  border: 1px solid #d3f6f61f;
  border-radius: 35px;
  padding: 1rem 7rem;
  box-shadow: 0 10px, 30px #7180b973;
  font-weight: bold;
  background: linear-gradient(160deg, #231232 0%, #212c57 30%, #b068cc 100% )
}


.card-cont {
  background: linear-gradient(160deg, #c1bbc6 0%, #aab2d4 30%, #987aa4 100% );
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 border: 1px solid #d3f6f61f;
  border-radius: 35px;
  padding: 2rem;
  min-height: 200px; 
 
  
}

.card-cont img {
  border-radius: 15px;
  height: 200px;
  width: 200px;
  
  align-items: center;
  display: flex;
  justify-content: center;
}


.carousel-item img {
  width: auto;
  height: 350px;
  object-fit: cover;
  margin: 0 auto;
}


/* register */
.register {
   background-image: url(/images/players/el.jpg);
  /* background-repeat: no-repeat; */
  background-size: contain;
}
  

/* login */
.login {
   background-image: url(/images/games/bg.jpg);
  /* background-repeat: no-repeat; */
  background-size: contain;
}

/* allplayers */
article .btn-a {
  padding: 1px 2px;
  justify-content: center;
}
 

/* addgame */

.addgame {
  background-image: url(/images/games/bg6.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.card-body {
  background: linear-gradient(160deg, #c1bbc6 0%, #aab2d4 30%, #987aa4 100% );
}


.join1 {
  border: 1px solid #d3f6f61f;
  border-radius: 20px;
  padding: 0.1rem 0.9rem;
  box-shadow: 0 10px, 30px #7180b973;
  font-weight: bold;
  background: linear-gradient(160deg, #231232 0%, #212c57 30%, #b068cc 100% );
  
 
}


/* players */
article {
   background-image: url(/images/games/bg5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* unplayer */
.section-unplayer {
  background-image: url(/images/players/interfaz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .section-unplayer img {
  border-radius: 25px;
 
} */


.card-info {
  background: linear-gradient(160deg, #c1bbc6 0%, #aab2d4 30%, #987aa4 100% );
  
}